
@{
    Layout = "~/Views/Master.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Início</title>
</head>
<body>
    <div>
        <form action="/Restaurante/Store" method="post" onsubmit="validarFormulario();">
            <div class="form-group" id="div-campo-nome">
                <label for="campo-nome">Nome Completo</label>
                <input type="text" class="form-control" nome="Restaurante.Nome" id="campe-nome" placeholder="Digite seu nome completo" required="requiret" onfocus="validarCampoNome"
                       value="@ViewBag.Restaurante.Nome" />
                @Html.ValidationMessage("Restaurante.Nome", new { @class = "text-danger" })
            </div>
        </div>
        
                <div class="form-group">
             <label for="campo-senha">Senha</label>
                    <input form="campo-salario"class="form-control"nome="Restaurante.Senha"id="campo-senha"placeholder="Senha"required="requiret"onfocus="validarCampoSenha"value="@ViewBag.Restaurante.Senha" />
                </div>
      <div class="form-group">
          <label for="Campo-Telefone">Telefone Celelar</label>
          <input form="Dampo-Telefone"class="form-control"nome="Restautante.Telefone"id="Campo.Telefone"placeholder="Digite seu Telefone Celular"required="required"onfocus="ValidarCampoTelefone"value="@ViewBag.Restaurante.Telefone"/>

            </div>
       <div class="form-group">
          <label for="Campo-Data-Nacimeto">Data De Nacimento</label>
            <input form="Campo-Data-Nacimento"class="form-control"nome="Restaurante.Data.Nacimento"id="Campo.Data.Nacimeto"placeholder="Digite sua data de nacimento"required="required"onfocus="ValidarCampoDataNacimento"value="@ViewBag.Restaurante.DataNacimento" />
       </div>
    <div class="form-group">
        <label for="Campo-Cpf">CPF</label>
        <input form="Campo-Cpf" class="form-control" nome="Restaurate.Cpf" id="Campo.Cpf" placeholder="Digite Seu CPF" required="required" onfocus="ValidarCampoCpf" value="@ViewBag.Restaurante.CPF" />
    </div>
  <div class="form-group">
      <label for="Campo-Estado">Estado</label>
      <input form="Campo-Estado"class="form-control"nome="Restaurante.Estado"id="Campo.Estado"placeholder="Estado"required="required"onfocus="ValidarCampoEstado"value="@ViewBag.Restaurante.EStado" />
  </div>
    <div class="form-group">
        <label for="Campo-Cidade">Cidade</label>
        <input form="Campo-Cidade" class="form-control" nome="Restaurante.Cidade" id="Campo.Cidade" placeholder="Cidade" required="required" onfocus="ValidarCampoCidade" value="@ViewBag.Restaurante.Cidade" />
    </div>
    <div class="form-group">
        <label for="Campo-Bairro">Bairro</label>
        <input form="Campo-Bairro" class="form-control" nome="Restaurante.Bairro" id="Campo.Bairro" placeholder="Bairro" required="required" onfocus="ValidarCampoBairro" value="@ViewBag.Restaurante.Bairro" />
    </div>
    <div class="form-group">
        <label for="Campo-Logradouro">Logradouro</label>
        <input form="Campo-Logradouro" class="form-control" nome="Restaurante.Logradouro" id="Campo.Logradouro" placeholder="Logradouro" required="required" onfocus="ValidarCampoLogradouro" value="@ViewBag.Restaurante.Logradouro" />
    </div>
    <div class="form-group">
        <label for="Campo-Cep">Cep</label>
        <input form="Campo-Cep" class="form-control" nome="Restaurante.Cep" id="Campo.Cep" placeholder="Cep" required="required" onfocus="ValidarCampoCep" value="@ViewBag.Restaurante.Cep" />
    </div>
   </form>
</body>
</html>
