
@{
    Layout = "~/Views/Master.cshtml";
}

@Html.ActionLink("Novo Cliente", "Cadastro", "Cliente", new { @class = "btn btn-dark float-right mr-3 mb-2 mt-2" })

<div class="mr-3 ml-3">
    <table class="table table-striped table-hover">
        <thead>
            <tr class="bg-dark text-white">
                <th>Nome</th>
                <th>CPF</th>
                <th>Celular</th>
                <th>Logradouro</th>
                <th>Ações</th>
            </tr>
        </thead>    
        <tbody>
            @foreach (TrabalhoFinal.Models.Clientes cliente in @ViewBag.Clientes)
            {
                <tr>
                    <td>@cliente.NomeCompleto</td>
                    <td>@cliente.CPF</td>
                    <td>@cliente.Celular</td>
                    <td>@cliente.Logradouro</td>
                    <td>
                        <a href="/Cliente/Editar?id=@cliente.Id" class="btn btn-outline-dark"><i class="fa fa-edit"></i>Editar</a>
                        <a href="/Cliente/Excluir?id=@cliente.Id" class="btn btn-outline-dark"><i class="fa fa-trash"></i>Excluir</a>
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>Nome</th>
                <th>CPF</th>
                <th>Celular</th>
                <th>Logradouro</th>
                <th>Ações</th>
            </tr>
        </tfoot>
    </table>
</div>