
@{
    Layout = "~/Views/Master.cshtml";
}



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>CadastroPrato</title>
</head>
<body>
    <div>
        <form action="/pratos/Store" method="post" onsubmit=" validarFormulario();">
            <div class="col-md-6">
                <div class="form-group" id="div-campo-nome">
                    <label for="campo-nome"> Nome</label>
                    <span class="text-danger font-weight-bold">*</span>
                    <input type="text" class="form-control" name="Prato.Nome" id="campo-nome" placeholder="Digite o seu nome" required="required" onfocus="validarCampoNome()"
                           value="@ViewBag.Prato.Nome" />
                    @Html.ValidationMessage("Pratos.Nome", new { @class = "text-danger" })
                </div>
            

              

                    <div class="form-group" id="div-campo-Celular">
            <div class="col-md-6">
                        <label for="CampoCelular">Telefone Celular</label>
                        <span class="text-danger font-weight-bold">*</span>
                        <input type="text" class="from-control" name="Prato.Celular" id="Campo-Celular" placeholder="Digite seu Celular" required="required" onfocus="ValidarCampoCelular()"
                               value="@ViewBag.Prato.Celular" />
                        @Html.ValidationMessage("Pratos.Celular", new { @class = "text-danger" })
                    </div>

                    </div>
                </div>
                    <div class="form-group" id="div-campo-Email">
                <div class="col-md-6">
                        <label form="Campo-Email">E-mail</label>
                        <span class="text-danger font-weight-bold">*</span>
                        <input type="text" class="form-control" name="Prato.Email" id="Campo-Email" placeholder="Digite seu E-mail" required="required" onfocus="ValidarCampoEmail()"
                               value="@ViewBag.Prato.Email" />
                        @Html.ValidationMessage("Pratos.Email", new { @class = "text-danger" })
                    </div>
                </div>

            </div>
            <div class="form-group" id="div-campo-preco">
                <div class="col-md-6">
                <label for="Campo-Preco">
                    Preço
                </label>
                <span class="text-danger font-weight-bold">*</span>
                <input type="text" class="form-control" name="Prato.preco" id="Campo-Preco" required="required" onfocus="ValidarCampoPreco()"
                       value="@ViewBag.Prato.preco" />
                @Html.ValidationMessage("Pratos.preco", new { @class = "text-danger" })
            </div>
                    </div>
                <div class="form-group" id="div-campo-Propiedades_Nutricionais">
                    <label form="campo-Propriedades-Nutricionais">Propriedades Nutricionais</label>
                    <input type="text" class="form-control" name="Prato.Propriedades_Nutricionais" id=" campo-propriedades_nutricionais"
                           placeholder="Digite as propiedades Nutricionais" required="required" onfocus="ValidarCampoPropiedadesNutricionais()"
                           value="@ViewBag.Prato.Propriedades_Nutricionais" />
                    @Html.ValidationMessage("Pratos.Propiedades_Nutricionais", new { @class = "text-danger" })

                </div>

  <div class="form-group" id="div-campo-modo_preparo">
      <label for="CampoModoDePreparo">
          Modo de preparo
      </label>
      <textarea typeof="text" class="from-control" name="Prato.ModoDePreparo" id="Campo-ModoDePreparo" style="width:100%;height:auto" placeholder="Modo de preparo" required="required" onfocus="ValidarModoDePreparo()">
          @ViewBag.Prato.ModoDePreparo
      </textarea>
      @Html.ValidationMessage("Pratos.ModoDePreparo", new { @class = "text-danger" })
                <div class="form-group" id="div-campo-Descricao">
                    <label for="CampoDescricao">
                        Descrisao
                    </label>
                    </div>
                    <textarea type="text" class="from-control" name="Prato.Descricao" id="Campo-Descricao" style="width:100%; height:auto" placeholder="Digite sua Descricao" required="required" onfocus="ValidarDescricao()">
                        @ViewBag.Prato.Descricao
                    </textarea>
                    @Html.ValidationMessage("Pratos.Descricao", new { @class = "text-danger" })
                </div>

                <button class="btn btn-dark" type="submit">
                    <i class="fa fa-save"></i> Cadastrar
                </button>
              
</form>


</body>
</html>
