@{
    Layout = "~/Views/Master.cshtml";
}

<form action="/pratos/Store" method="post" onsubmit=" validarFormulario();">
    <div>
        <div class="row-mt-3">
            <div class="col-md-12">
                <h1 class="text-dark text-center">Cadastro de Prato</h1>
            </div>
        </div>
    </div>
    <div class="col-md-offset-1 campos">
        <div class="form-group">
            <div class="col-md-5" id="div-campo-nome">
                <label for="campo-nome"> Nome</label>
                <span class="text-danger font-weight-bold">*</span>
                <input type="text" class="form-control" name="Prato.Nome" id="campo-nome" placeholder="Digite o seu nome" required="required" onpaste="return false;" value="@ViewBag.Prato.Nome" />
                @Html.ValidationMessage("Prato.Nome", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5" id="div-campo-Celular">
                <label for="Campo-Celular">Telefone Celular <span class="text-danger font-weight-bold">*</span></label>
                <input type="text" class="form-control" name="Prato.Celular" id="Campo-Celular" placeholder="(DDD) 90000-0000" maxlength="16" onkeypress="this.value = FormataTelefone(event)" onpaste="return false;" required="required" value="@ViewBag.Prato.Celular">
                @Html.ValidationMessage("Prato.Celular", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5" id="div-campo-Email">
                <label form="Campo-Email">E-mail</label>
                <span class="text-danger font-weight-bold">*</span>
                <input type="text" class="form-control" name="Prato.Email" id="Campo-Email" placeholder="exemplo@exemplo.com" required="required" onpaste="return false;" value="@ViewBag.Prato.Email" />
                @Html.ValidationMessage("Prato.Email", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5" id="div-campo-preco">
                <label for="Campo-Preco">Preço</label>
                <span class="text-danger font-weight-bold">*</span>
                <input type="text" class="form-control" name="Prato.preco" id="Campo-Preco" required="required" value="@ViewBag.Prato.preco" />
                @Html.ValidationMessage("Prato.preco", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5" id="div-campo-igredientes">
                <label form="campo-Propriedades-Nutricionais">Ingredientes</label>
                <textarea type="text" class="form-control" name="Prato.Propriedades_Nutricionais" id=" campo-propriedades_nutricionais" style="width:100%; height:auto" required="required">@ViewBag.Prato.Propriedades_Nutricionais</textarea>
                @Html.ValidationMessage("Prato.Propiedades_Nutricionais", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5" id="div-campo-modo-preparo">
                <label for="Campo-ModoDePreparo">Modo de preparo</label>
                <textarea typeof="text" class="form-control" name="Prato.ModoDePreparo" id="Campo-ModoDePreparo" style="width:100%;height:auto" required="required">@ViewBag.Prato.ModoDePreparo</textarea>
                @Html.ValidationMessage("Prato.ModoDePreparo", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-5" id="campo-descricao">
                <label for="CampoDescricao">Descrição</label>
                <textarea type="text" class="form-control" name="Prato.Descricao" id="Campo-Descricao" style="width:100%; height:auto" placeholder="Digite sua Descrição" required="required">@ViewBag.Prato.Descricao</textarea>
                @Html.ValidationMessage("Prato.Descricao", new { @class = "text-danger" })
            </div>
        </div>
        <div>
            <button class="btn btn-success" type="submit"><i class="fa fa-save"></i> Cadastrar</button>
        </div>
    </div>
</form>

@section css {
    <link rel="stylesheet" href="~/Content/CSS/css-lista-cliente.css" />
}
