@{
    Layout = "~/Views/Master.cshtml";
}
@Html.ActionLink("Novo Pratos", "CadastroPrato", "Pratos",
    new { @class = "btn btn-primary float-right mr-3 mb-2 mt-2" })




<head>
    <meta name="viewport" content="width=device-width" />
    <title>Prato</title>
</head>
<body>
    <div class="mr-3 ml-3">

        <table>
            @foreach (TrabalhoFinal.Models.Pratos Prato in @ViewBag.Pratos)
            {
                <tr>
                    <td>@Prato.Id</td>
                    <td>@Prato.Nome</td>
                    <td>@Prato.ModoDePreparo</td>
                    <td>@Prato.PropiedadesNaturais</td>
                    <td>@Prato.Email</td>
                    <td>@Prato.TelefoneCelular</td>
                    <td>@Prato.descricao</td>
                    <td>
                        <a href="/Pratos/Excluir?id=@Prato.Id" class="btn btn-outline-danger"><i class="fa fa-trash"></i>Excluir</a>
                        <a href="/Pratos/CadastroPrato?id=@Prato.Id" class="btn btn-outline-dark"><i class="fa fa-trash"></i>Cadastrar</a>

                    </td>

                </tr>

            }
        </table>

    </div>
</body>


