@{
    Layout = "~/Views/Shared/Master.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pratos</title>
    <head lang="pt-br">
        <meta charset="utf-8" />
        <meta http-equiv=”content-type” content="text/html;" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <meta name="keywords" content="tags, que, eu, quiser, usar, para, os, robos, do, google" />
        <title>Restaurante Luxo IV - Pratos</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="~/Controllers/CSS/pagina-inicial.css" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
    </head>
    <body>
        <h1>Seu Prato!</h1>

        <div class="form-group" id="div-campo-nome">
            <label for="campo-nome">
                Nome

            </label>
            <input type="text" class="form-control" name="Restaurante.Nome" id="campo-nome" placeholder="Digite o seu nome" required="required" onfocus="validarCampoNome()"
                   value="@ViewBag.Restaurante.Nome" />
            @Html.ValidationMessage("Restaurante.Nome", new { @class = "text-danger" })
        </div>
        <div class="form-group" id="div-campo-preparo">
            <label for="campo-preparo">Modo De Preparo</label>
            <input type="text " class="form-control" name="Restaurante.preparo" id="campo-preparo" 
                    placeholder="escreva o preparo completo de seu prato"
                   riquered="riquered" onfocus="ValuidaCampoPreparo()"
                   value="@ViewBag.Restaurante.Preparo" />
            @Html.ValidationMessage("Restaurante.preparo", new { @class = "text-danger" })
        </div>
        <div class="form-group" id="div-campo-prato">
            <label form="campo-Propriedades-Nutricionais">Propriedades Nutricionais</label>
            <input type="text" class="form-control" name="Restaurante.Propietades.Nutrisionais" id="campo-PropiedadesNaturais"
                   placeholder="Digite  dijite as propiedades Nutricionais" required="required" onfocus="ValidarCampoPropiedadesNutricionais()"
                   value="@ViewBag.Restaurante.PropiedadesNutricionais" />
            @Html.ValidationMessage("Restaurante.PropiedadesNutricionais", new { @class = "text-danger" })
        </div>
        <div class="form-group" id="div-campo-preco">
            <label for="Campo-Preco">
                Preço
            </label>
            <input type="text" class="form-control" name="RestaorantePreco" id="Campo-Preco" placeholder="Dijite o Preço" required="required" onfocus="ValidarCampoPreco()"
                   value="@ViewBag.Restaurante.Preco" />
            @Html.ValidationMessage("Restaurante.Preco", new { @class = "text-danger" })
        </div>
        <div class="form-group" id="div-campo-Email">
            <label form="Campo-Email">E-mail</label>
            <input type="text" class="form-control" name="ResteoranteEmail" id="Campo-Email" placeholder="Digite seu E-mail" required="required" onfocus="ValidarCampoEmail()"
                   value="@ViewBag.Restaurante.Email" />
            @Html.ValidationMessage("Restaurante.Email", new { @class = "text-danger" })

        </div>
        <div class="form-group" id="div-campo-Celular">
            <label for="CampoCelular">
                Telefone Celular
            </label>
            <input type="text" class="from-control" name="RestauranteCelular" id="Campo-Celular" placeholder="Digite seu Telefone Celular" required="required" onfocus="ValidarCampoCelular()"
                   value="@ViewBag.Restaurante.Celular" />
            @Html.ValidationMessage("Restaurante.Celular", new { @class = "text-danger" })
        </div>
        <div class="form-group" id="div-campo-Mensagem">
            <label for="CampoMansagem">
                Mensagem
            </label>
            <input type="text" class="from-control" name="RestauranteMensagem" id="Campo-Mengem" placeholder="Dijite sua Mensagem" required="required" onfocus="ValidarMensagem()"
                   value="@ViewBag.Restaurante.Mensagem" />
            @Html.ValidationMessage("Restaurante.Mensagem", new { @class = "text-danger" })
        </div>


</html>
