
@{
    Layout = "~/Views/Master.cshtml";
}




    <div class="row mt-3"> 
        <div class="col-md-12">
            <h1 class="text-primary text-center">Editando</h1>
        </div>
    </div>
<div class="row">
    <div class="col-md-1 offset-md-3">
        <form action="/Prato/Update" method="post"onsubmit="validarFormulario()">
            <input type="hidden"name="Prato.id"value="@ViewBag.Prato.Id" />
            <div class="form-group">
                <label form="campo-nome">Nome</label>
                <input class="form-control" type="text"name="prato.Nome"id="Campo-Nome"value="@ViewBag.Prato.Nome" />
            </div>
            <div class="form-group">
                <label form="campo-preparo">Modo de preparo</label>
                <input form="campo-modo_preparo" typeof="text" name="Prato.preparo" id=" campo-modo_preparo" value="@ViewBag.Prato.ModoDePreparo" />
           </div>
            <div class="form-group">
                <label form="campo-Propriedades-Nutricionais">Propriedades Nutricionais</label>
                <input form="campo-Propiedades-Nutricionais" type="text" name="Prato.Propietades.Nutrisionais" id="campo-propriedades_nutricionais" value="@ViewBag.Prato.Propriedades_Nutricionais" />

           </div>
            <div class="form-group">
                <label for="Campo-Preco">Preço</label>
                <input form="Campo-Preco" type="text" name="Prato.Preco" id="Campo-Preco" value="@ViewBag.Prato.preco" />
            </div>
            <div class="form-group">
                <label form="Campo-Email">E-mail</label>
                <input form="Campo-Email" type="text" name="Prato.Email" id="Campo-Email" value="@ViewBag.Prato.Email" />
            </div>
            <div class="form-group">
                <label for="CampoCelular">Telefone Celular</label>
                <input form="Campo-Celular" type="text" name="Prato.Celular" id="Campo-Celular" value="@ViewBag.Prato.Celular" />
            </div>
            <div class="form-group">
                <label for="CampoDescricao">  Descrisao</label>
                <input form="Campo-Descricao" type="text" name="Prato.Descricao" id="Campo-Descricao" value="@ViewBag.Prato.Descricao" />
                   
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="submit" class="btn btn-warning float-right"data-toggle="tooltip" title="Botão para salvar">
                        <i class="fa fa-pencil-alt"></i> Salvar</button>
                </div>
         </div>

</form>
                

</div>
</div>

