@{
    Layout = "~/Views/Master.cshtml";
}


<h1>Seu Perfil</h1>
<div class="row">
    <div class="col-md-6 offset-sm-1" >
        <form action="/funcionarios/Update" method="post">
            <input type="hidden" name="Funcionarios.Id" value="@ViewBag.Funcionarios.Id"/>
            <div>
                <label for="campo-nome">Nome</label>
                <input type="text" name="Funcionarios.Nome" id="campo-nome" value="@ViewBag.Funcionarios.Nome"/>
                @Html.ValidationMessage("Funcionarios.Nome");
            </div>
            <div>
                <label for="campo-sobrenome">Sobrenome</label>
                <input  type="text" name="Funcionarios.Sobrenome" id="campo-sobrenome" value="@ViewBag.Funcionarios.Sobrenome"/>
                @Html.ValidationMessage("Funcionarios.Sobrenome");
            </div>
            <div>
                <label for="campo-senha">Senha</label>
                <input type="password" name="Funcionarios.Senha" id="campo-senha" value="@ViewBag.Funcionarios.Senha"/>
                @Html.ValidationMessage("Funcionarios.Senha");
            </div>
            <div>
                <label for="campo-celular">Celular</label>
                <input type="tel" name="Funcionarios.Celular" id="campo-celular" value="@ViewBag.Funcionarios.Celular"/>
                @Html.ValidationMessage("Funcionarios.Celular");

            </div>
            <div>
                <label for="campo-datadenascimento">Data De Nascimento</label>
                <input type="date" name="Funcionarios.DataDeNascimento" id="campo-datadenascimento" value="@ViewBag,Funcionarios.DataDeNascimento"/>
                @Html.ValidationMessage("Funcionarios.DataDeNascimento");
            </div>
            <div>
                <label for="campo-cpf">CPF</label>
                <input type="text" name="Funcionarios.CPF" id="campo-cpf" value="@ViewBag.Funcionarios.CPF"/>
                @Html.ValidationMessage("Funcionarios.CPF");
            </div>
            <div>
                <label for="campo-estado">Estado</label>
               <select class="dropdown">
                   <option class="acre">Acre AC</option>
                   <option class="alagoas">Alagoas AL</option>
                   <option class="amapa">Amapá AP</option>
                   <option class="amazonas">Amazonas AM</option>
                   <option class="bahia">Bahia BA</option>
                   <option class="ceara">Ceará CE</option>
                   <option class="distritofederal">Distrito Federal DF</option>
                   <option class="espiritosantos">Espírito Santo ES</option>
                   <option class="goias">Goiás GO</option>
                   <option class="maranhao">Maranhão MA</option>
                   <option class="matogrosso">Mato Grosso MT</option>
                   <option class="matogrossodosul">Mato Grosso do Sul MS</option>
                   <option class="minasgerais">Minas Gerais MG</option>
                   <option class="para">Pará PA</option>
                   <option class="paraiba">Paraíba PB</option>
                   <option class="parana">Paraná PR</option>
                   <option class="pernambuco">Pernambuco PE</option>
                   <option class="piaui">Piauí PI</option>
                   <option class="riodejaneiro">Rio de Janeiro RJ</option>
                   <option class="riograndedonorte">Rio Grande do Norte RN</option>
                   <option class="riograbdedosul">Rio Grande do Sul RS </option>
                   <option class="rondonia">Rondônia RO</option>
                   <option class="roraima">Roraima RR</option>
                   <option class="santacatarina">Santa Catarina SC</option>
                   <option class="saopaulo">São Paulo SP</option>
                   <option class="sergipe">Sergipe SE</option>
                   <option class="tocantins">Tocantins TO</option> 
               </select>
            </div>
            <div>
                <label for="campo-cidade">Cidade</label>
                <input type="text" name="Funcionarios.Cidade" id="campo-cidade" value="@ViewBag.Funcionarios.Cidade" />
                @Html.ValidationMessage("Funcionarios.Cidade");
            </div>
            <div>
                <label for="campo-bairro">Bairro</label>
                <input type="text" name="Funcionarios.Bairro" id="vampo-bairro" value="@ViewBag.Funcionarios.Bairro"/>
                @Html.ValidationMessage("Funcionarios.Bairro");
            </div>
            <div>
                <label for="campo-logradouro">Logradouro</label>
                <input type="text" name="Funcionarios.Logradouro" id="campo-logradouro" value="@ViewBag.Funcionarios.Logradouro"/> 
                @Html.ValidationMessage("Funcionarios.Logradouro");
            </div>
            <div>
                <label for="campo-cep">CEP</label>
                <input type="text" name="Funcionarios.CEP" id="campo-cep" value="@ViewBag.Funcionarios.CEP"/>
                @Html.ValidationMessage("Funcionarios.CEP");
            </div>
            <div>
                <label for="campo-cargo">Cargo</label>
                <input type="text" name="Funcionarios.Cargo"
                       id="campo-cargo" value="@ViewBag.Funcionarios.Cargo"/>
            </div>
        </form>
    </div>

</div>