
@{
    Layout = "~/Views/Master.cshtml";
}

<div class="row mt-3">
    <div class="col-md-6 offset-md-3" >
        <h5 class="text-primary text-center">Perfil</h5>
    </div>
    <form action="/funcionarios/Update" method="post">
        <input type="hidden" name="funcionarios.Id" value="@ViewBag.funcionarios.Id"/>
        <div class="form-group">
            <label for="campo-nome">Nome</label>
            <input type="text" name="funcionarios.Nome" id="campo-nome" value="@ViewBag.funcionarios.Nome" class="form-control" required="required"/>@Html.ValidationMessage("funcionarios.Nome")
        </div>
        <div class="form-group">
            <label for="campo-sobrenome">Sobrenome</label>
            <input type="text" name="fumcionarios.Sobrenome" id="campo-sobrenome" value="@ViewBag.funcionarios" class="form-control" required="required"/>
            @Html.ValidationMessage("funcionarios.Sobrenome")
        </div>
        <div class="form-group"></div>
    </form>
   
</div>
